
<div class="container">
  <section class="section-form">
      <div class="container-header">
        <h1 class="titulo">?HELP <span class="subtitulo">TOMORROW</span></h1>
        <h2>Busque seu código da Treasure Case dos correios de forma fácil e rápida.</h2>
        <p style="text-align: right; font-weight: bold; font-size: 1.10rem;">Desenvolvido por <a href="https://www.instagram.com/brunoamill/" style="color: #d63a76; text-decoration: none;">@brunoamill</a></p>
      </div>
      <form (submit)="get($event)" class="container-form">
        <div class="form-input">
          <label>Order Number - Número do Pedido</label>
          <input  type="text" placeholder="Digite o número do pedido"  name="code" [(ngModel)]="code">
        </div>
        <div class="form-input">
          <label>Cep</label>
          <input placeholder="Digite seu cep" name="cep" [(ngModel)]="cep">
        </div>
        <div class="form-input">
          <button type="submit">
            Buscar código dos Correios
          </button>
        </div>
    </form>
    <div  *ngIf="messageError">
      <p style="font-size: 1rem; color: rgb(190, 17, 17);">{{messageError}} 💔</p>
    </div>
    <div  *ngIf="codigoRastreioBr" style="margin-top: 20px;">
      <p style="font-size: 1rem; margin-bottom: 0.55rem;"><span style="font-weight: bold; ">Seu Código dos Correios é o barcode:</span></p>
      <p style="font-size: 1rem;">{{codigoRastreioBr}}</p>
      <p style="font-size: 0.88rem; margin-top: 2rem;">Exemplo: barcode=EA223322324BE</p>
    </div>
    <div  style="margin-top: 2rem;">
      <p  style="font-weight: bold; margin-top: 2rem;">1. Treasure Case não foi despachada pelo Bpost- esta é a mensagem que irá retornar:</p>
      <pre>
        "error": "NO_DATA_FOUND"
    </pre>
      <p style="font-weight: bold;">2. Localize no código retornado a informação barcode, <b>exemplo: barcode=EA170256270BE</b>.</p>
      <p style="margin-top: 1rem;">2.1 - Aperte <b>Ctrl + F </b> e digite barcode, encontrará mais rápido - ele repete 3 vezes no código.</p>

</div>
    <div style="margin-top: 3rem;">
      <p style="font-weight: bold;">Atenção:</p>
      <ul>
        <li>Caso não localize no site dos Correios, é porque a case ainda não chegou no Brasil, guarde seu código que será identificado em breve..</li>
        <li>Baixe o Aplicativo Rastreio fácil e cadastre seu barcode. Quando o correio identificar sua case o app irá notificar você.</li>
      </ul>
    </div>
  </section>

  <footer>
    <p style="margin-top: 2rem;"><i>Querendo me seguir no instagram, agradeço haha <a href="https://www.instagram.com/brunoamill/" style="color: #d63a76; text-decoration: none;">@brunoamill</a> </i><br>💙</p>
    <p style="margin-top: 2rem; margin-bottom: 2rem;"><i>Sou um eterno apaixonado por Tomorrowland e League of Legends</i><br>💙</p>
  </footer>
</div>



<router-outlet></router-outlet>
