
<div class="container">
  <section class="section-form">
      <div class="container-header">
        <h1 class="titulo">?HELP <span class="subtitulo">TOMORROW</span></h1>
        <h2>Encontre aqui de forma fácil e rápida seu código de rastreio da <i>Treasure Case</i></h2>
      </div>
      <form (submit)="get($event)" class="container-form">
        <div class="form-input">
          <label>Order Number - Número do Pedido</label>
          <input  type="text" placeholder="Digite o número do pedido"  name="code" [(ngModel)]="code">
        </div>
        <div class="form-input">
          <label>Cep</label>
          <input placeholder="Digite seu cep" name="cep" [(ngModel)]="cep">
        </div>
        <div class="form-input">
          <button type="submit">
            Buscar código BR
          </button>
        </div>
    </form>
    <div  *ngIf="messageError">
      <p style="font-size: 1rem; color: rgb(190, 17, 17);">{{messageError}} 💔</p>
    </div>
    <div  *ngIf="codigoRastreioBr" style="margin-top: 20px;">
      <p style="font-size: 1rem; margin-bottom: 0.55rem;"><span style="font-weight: bold; ">Seu Código dos Correios é o barcode:</span></p>
      <p style="font-size: 1rem;">{{codigoRastreioBr}}</p>
      <p style="font-size: 0.88rem; margin-top: 2rem;">Exemplo: barcode=EA223322324BE</p>
    </div>
    <div style="margin-top: 3rem;">
      <p style="font-weight: bold;">Atenção:</p>
      <ul>
        <li> Order number/Número do pedido: É possível localizar no e-ticket, e-mail de confirmação de compra ou no my.tomorrowland</li>
        <li>Order number/Número do pedido é composto por 8 dígitos ou 13 com letras e números.</li>
        <li>Caso seu pedido retorne vazio, é porque não foi despachado ainda pelo bpost, aguarde mais uns dias.</li>
      </ul>
    </div>
  </section>

  <footer>
    <p style="margin-top: 0.35rem;">Desenvolvido por <span style="color: #d63a76; text-decoration: none;">Bruno Lima</span> <br> <br></p>
    <p>Querendo me seguir no Instagram, <a href="" style="color: #d63a76; text-decoration: none;">@brunoamill</a><br> <i>Sou um eterno apaixonado por Tomorrowland e League of Legends</i><br>💙</p>
  </footer>
</div>



<router-outlet></router-outlet>
